31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

In [11]:
def generate_primes(n):
  """Generates a list of prime numbers up to a given number n using the Sieve of Eratosthenes.

  Args:
    n: The upper limit for prime number generation.

  Returns:
    A list containing all prime numbers less than or equal to n.
  """
  # Create a list of booleans, where is_prime[i] indicates if i is prime.
  is_prime = [True] * (n + 1)
  is_prime[0] = False  # 0 and 1 are not prime
  is_prime[1] = False

  # Use the Sieve of Eratosthenes to mark non-prime numbers.
  for p in range(2, int(n**0.5) + 1):
    if is_prime[p]:
      for i in range(p * p, n + 1, p):
        is_prime[i] = False

  # Return the list of prime numbers using list comprehension
  return [i for i, isPrime in enumerate(is_prime) if isPrime]

In [12]:
# Example usage
limit = 100
primes = generate_primes(limit)
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [13]:
def generate_pythagorean_triplets(limit):
  """Generates a list of Pythagorean triplets (a, b, c) up to a specified limit.

  Args:
    limit: The upper limit for the value of c in the triplets.

  Returns:
    A list of Pythagorean triplets as tuples (a, b, c).
  """
  return [(a, b, c)
            for a in range(1, limit)
            for b in range(a, limit)
            for c in range(b, limit)
            if a * a + b * b == c * c]

In [14]:
# Example usage
limit = 30
triplets = generate_pythagorean_triplets(limit)
print(f"Pythagorean triplets up to {limit}:")
for triplet in triplets:
    print(triplet)

Pythagorean triplets up to 30:
(3, 4, 5)
(5, 12, 13)
(6, 8, 10)
(7, 24, 25)
(8, 15, 17)
(9, 12, 15)
(10, 24, 26)
(12, 16, 20)
(15, 20, 25)
(20, 21, 29)

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [15]:
def generate_combinations(list1, list2):
  """Generates a list of all possible combinations of elements from two lists.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A list of tuples containing elements from both lists.
  """
  return [(x, y) for x in list1 for y in list2]

In [16]:
list_a = ["a", "b", "c"]
list_b = [1, 2, 3]
combinations = generate_combinations(list_a, list_b)
print(combinations)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3), ('c', 1), ('c', 2), ('c', 3)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list comprehension.

In [20]:
from collections import Counter

def calculate_statistics(data):
  """Calculates the mean, median, and mode of a list of numbers using list comprehension.

  Args:
    data: A list of numbers.

  Returns:
    A dictionary containing the mean, median, and mode of the data.
  """

  # Check for empty list
  if not data:
    return {}

  # Mean
  mean = sum(data) / len(data)

  # Sort the data for median and mode calculations (modifies original list)
  data.sort()

  # Median
  median_index = len(data) // 2
  median = (data[median_index] + data[median_index - 1]) / 2 if len(data) % 2 == 0 else data[median_index]

  # Mode (using Counter and list comprehension)
  mode_counts = Counter(data)
  most_frequent_count = mode_counts.most_common(1)[0][1]  # Count of the most frequent element(s)
  mode = [num for num, count in mode_counts.items() if count == most_frequent_count]

  return {"mean": mean, "median": median, "mode": mode}

In [21]:
# Example usage
data = [1, 2, 3, 4, 5, 5, 6]
statistics = calculate_statistics(data)
print(statistics)

{'mean': 3.7142857142857144, 'median': 4, 'mode': [5]}

35. Create a program that generates Pascal's triangle up to a specified number of rows using list comprehension.

In [22]:
def generate_pascal_triangle(num_rows):
  """Generates Pascal's triangle up to a specified number of rows using list comprehension.

  Args:
    num_rows: The number of rows in the Pascal's triangle.

  Returns:
    A list of lists representing Pascal's triangle.
  """

  triangle = [[1]]  # Base case: first row is always [1]

  # Use nested list comprehension to generate subsequent rows
  for i in range(1, num_rows):
    row = [1]  # Start each row with 1
    for j in range(1, i):
      # Previous row elements at j and j-1 to calculate current element
      row.append(triangle[i - 1][j] + triangle[i - 1][j - 1])
    row.append(1)  # End each row with 1
    triangle.append(row)

  return triangle

In [23]:
num_rows = 6
pascal_triangle = generate_pascal_triangle(num_rows)
print(pascal_triangle)

[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1], [1, 5, 10, 10, 5, 1]]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [26]:
def sum_of_digits_factorial(n):
  """Calculates the sum of the digits of the factorial of a non-negative integer.

  Args:
    n: The non-negative integer for which to calculate the factorial sum.

  Returns:
    The sum of the digits of the factorial of n.
  """

    # Calculate the factorial using math.factorial
  from math import factorial
  fact = factorial(n)

  # Convert the factorial to a string of digits
  digits_str = str(fact)

  # Use list comprehension to sum the digits (converting each digit to an int)
  sum_of_digits = sum(int(digit) for digit in digits_str)

  return sum_of_digits

In [27]:
# Calculate and print the sum of digits for factorials of 1 to 5
for i in range(1, 6):
  factorial_sum = sum_of_digits_factorial(i)
  print(f"Sum of digits of factorial({i}): {factorial_sum}")

Sum of digits of factorial(1): 1
Sum of digits of factorial(2): 2
Sum of digits of factorial(3): 6
Sum of digits of factorial(4): 6
Sum of digits of factorial(5): 3

37. Write a program that finds the longest word in a sentence using list comprehension.

In [28]:
def find_longest_word(sentence):
  """Finds the longest word in a sentence using list comprehension.

  Args:
    sentence: The sentence to search for the longest word.

  Returns:
    The longest word in the sentence.
  """

  # Split the sentence into words and use list comprehension to find the word with the maximum length
  return max(sentence.split(), key=len)

In [32]:
sentence = "The quick brown fox jumps over the lazy dog"
longest_word = find_longest_word(sentence)
print(f"Longest word: {longest_word}")

Longest word: quick

38. Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [47]:
def filter_vowels(words):
  """Filters a list of words to include only those with more than three vowels.

  Args:
    words: A list of strings (words).

  Returns:
    A list of strings containing only those with more than three vowels.
  """
  vowels = "aeiouAEIOU"
  return [word for word in words if sum(c in vowels for c in word) > 3]

In [50]:
words = ["apple", "banana", "apricot", "television", "programmer", "elderberry", "ADIEU"]
words_with_many_vowels = filter_vowels(words)
print(words_with_many_vowels)

['television', 'ADIEU']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

In [51]:
def sum_of_digits_1_to_1000():
  """Calculates the sum of the digits of numbers from 1 to 1000 using list comprehension.

  Returns:
    The sum of the digits of numbers from 1 to 1000.
  """

  # Use list comprehension to create a list of digits from each number (1 to 1000)
  digits = [int(d) for num in range(1, 1001) for d in str(num)]

  # Calculate the sum of all digits
  sum_of_digits = sum(digits)

  return sum_of_digits

In [52]:
# Calculate and print the sum of digits
sum_digits = sum_of_digits_1_to_1000()
print(sum_digits)

13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [54]:
def is_prime(num):
  """Checks if a number is prime (greater than 1 and only divisible by 1 and itself).

  Args:
    num: The number to check for primality.

  Returns:
    True if the number is prime, False otherwise.
  """
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

def is_palindrome(num):
  """Checks if a number is a palindrome (reads the same backward as forward).

  Args:
    num: The number to check for palindrome.

  Returns:
    True if the number is a palindrome, False otherwise.
  """
  return str(num) == str(num)[::-1]

In [55]:
# Generate prime palindromic numbers
primes = [num for num in range(1, 1000) if is_prime(num) and is_palindrome(num)]

# Print the prime palindromic numbers
print(primes)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [56]:
def sum_of_digits(numbers):
  """Calculates the sum of digits for each number in a list using list comprehension.

  Args:
    numbers: A list of integers.

  Returns:
    A list containing the sum of digits for each number in the original list.
  """
  return [sum(int(digit) for digit in str(num)) for num in numbers]

In [57]:
# Sample list of numbers
numbers = [123, 456, 789, 1011]

# Calculate the sum of digits for each number
sum_of_digits_list = sum_of_digits(numbers)

# Print the results
print(sum_of_digits_list)

[6, 15, 24, 3]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [59]:
def find_prime_factors(num):
  """Finds the prime factors of a given number using a for loop and list comprehension.

  Args:
    num: The number for which to find prime factors.

  Returns:
    A list containing the prime factors of the number.
  """

  # Handle non-positive input
  if num <= 1:
    return []

  # Prime factors list
  prime_factors = []

  # Loop through potential factors (up to the square root of num)
  for i in range(2, int(num**0.5) + 1):
    # Check if i is a divisor and prime
    if num % i == 0 and is_prime(i):
      prime_factors.append(i)
      # Efficiently handle the case where the other factor is the same as i (perfect square)
      num //= i  # Integer division to avoid float issues
      if num == 1:
        break

  # If num is greater than 1 (a prime factor itself), append it
  if num > 1:
    prime_factors.append(num)

  return prime_factors

In [60]:
def is_prime(num):
  """Checks if a number is prime (greater than 1 and only divisible by 1 and itself).

  Args:
    num: The number to check for primality.

  Returns:
    True if the number is prime, False otherwise.
  """
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

In [61]:
number = 60
prime_factors_list = find_prime_factors(number)
print(f"Prime factors of {number}: {prime_factors_list}")

Prime factors of 60: [2, 3, 5, 2]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [62]:
def extract_unique(data):
  """Extracts unique elements from a list using list comprehension.

  Args:
    data: A list of elements.

  Returns:
    A list containing only the unique elements from the input list.
  """

  return list(set(data))  # Efficiently uses set for uniqueness and converts back to list

In [64]:
# Sample data list
data = [1, 2, 3, 2, 4, 5, 1, 6, 7, 1, 2, 8, 9, 2, 3, 4]

# Extract unique elements
unique_data = extract_unique(data)

# Print the original and unique lists
print(f"Original data: {data}")
print(f"Unique elements: {unique_data}")

Original data: [1, 2, 3, 2, 4, 5, 1, 6, 7, 1, 2, 8, 9, 2, 3, 4]
Unique elements: [1, 2, 3, 4, 5, 6, 7, 8, 9]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

In [65]:
def generate_palindromes(limit):
  """Generates a list of all palindromic numbers up to a specified limit using list comprehension.

  Args:
    limit: The upper limit for palindromic numbers (inclusive).

  Returns:
    A list containing all palindromic numbers up to the limit.
  """

  # Use list comprehension to create palindromes from 1 to limit
  return [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]

In [66]:
# Set the limit
limit = 100

In [67]:
# Generate palindromic numbers
palindromes = generate_palindromes(limit)

In [68]:
# Print the palindromic numbers
print(f"Palindromic numbers up to {limit}: {palindromes}")

Palindromic numbers up to 100: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [69]:
def flatten_list(nested_list):
  """Flattens a nested list using list comprehension.

  Args:
    nested_list: A list that may contain nested elements (sublists).

  Returns:
    A new list containing all elements from the nested list in a single level.
  """

  return [item for sublist in nested_list for item in sublist]

In [70]:
# Sample nested list
nested_list = [[1, 2, 3], [4, 5, 6], [7]]

In [71]:
# Flatten the nested list
flat_list = flatten_list(nested_list)

In [72]:
# Print the original and flattened lists
print(f"Original nested list: {nested_list}")
print(f"Flattened list: {flat_list}")

Original nested list: [[1, 2, 3], [4, 5, 6], [7]]
Flattened list: [1, 2, 3, 4, 5, 6, 7]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list comprehension.

In [73]:
def even_odd_sum(numbers):
  """Calculates the sum of even and odd numbers in a list using list comprehension.

  Args:
    numbers: A list of integers.

  Returns:
    A tuple containing the sum of even numbers and the sum of odd numbers.
  """

  # Separate even and odd numbers using list comprehension
  even_numbers = [num for num in numbers if num % 2 == 0]
  odd_numbers = [num for num in numbers if num % 2 != 0]

  # Calculate the sum of even and odd numbers
  sum_even = sum(even_numbers)
  sum_odd = sum(odd_numbers)

  return sum_even, sum_odd

In [74]:
# Sample list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
# Calculate sum of even and odd numbers
even_sum, odd_sum = even_odd_sum(numbers)

In [76]:
# Print the results
print(f"Sum of even numbers: {even_sum}")
print(f"Sum of odd numbers: {odd_sum}")

Sum of even numbers: 30
Sum of odd numbers: 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list comprehension.

In [77]:
# Generate squares of odd numbers between 1 and 10 using list comprehension
squares_of_odds = [n ** 2 for n in range(1, 11) if n % 2 != 0]

In [78]:
# Print the result
print("Squares of odd numbers between 1 and 10:")
print(squares_of_odds)

Squares of odd numbers between 1 and 10:
[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [79]:
def combine_lists_to_dict(keys, values):
  """Combines two lists into a dictionary using list comprehension.

  Args:
    keys: A list of keys.
    values: A list of values.

  Returns:
    A dictionary combining the keys and values.

  Raises:
    ValueError: If the lengths of the lists are unequal.
  """

  # Check if lengths are equal (necessary for dictionary creation)
  if len(keys) != len(values):
    raise ValueError("Keys and values lists must have equal lengths")

  # Combine lists into dictionary using list comprehension
  return {key: value for key, value in zip(keys, values)}

In [94]:
# Sample lists
keys = ["name", "age", "city"]
values = ["Alice", 26, "Amsterdam"]

In [95]:
# Combine lists into a dictionary
combined_dict = combine_lists_to_dict(keys, values)

In [96]:
# Print the dictionary
print(combined_dict)

{'name': 'Alice', 'age': 26, 'city': 'Amsterdam'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [83]:
def extract_vowels(text):
  """Extracts vowels from a string using list comprehension.

  Args:
    text: The string to extract vowels from.

  Returns:
    A list containing only the vowels from the input string.
  """

  vowels = "aeiouAEIOU"
  return [char for char in text if char in vowels]

In [88]:
# Sample string
text = "Chesse cake carving!"

In [89]:
# Extract vowels
extracted_vowels = extract_vowels(text)

In [90]:
# Print the extracted vowels
print(extracted_vowels)

['e', 'e', 'a', 'e', 'a', 'i']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [97]:
def remove_non_numeric(strings):
  """Removes all non-numeric characters from a list of strings using list comprehension.

  Args:
    strings: A list of strings.

  Returns:
    A list containing only the numeric parts of the input strings.
  """

  return [''.join(char for char in string if char.isdigit()) for string in strings]

In [98]:
# Sample list of strings
strings = ["Hello, 123 World!", "456", "Python 3.10", "789!"]

In [99]:
# Remove non-numeric characters
numeric_parts = remove_non_numeric(strings)

In [100]:
# Print the results
print(numeric_parts)

['123', '456', '310', '789']

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [101]:
def has_duplicates(data):
  """Checks if a list contains any duplicates using a for loop.

  Args:
    data: A list of elements.

  Returns:
    True if the list contains duplicates, False otherwise.
  """
  seen = set()
  for element in data:
    if element in seen:
      return True
    seen.add(element)
  return False

In [102]:
# Sample data list
data = [1, 2, 3, 2, 4, 5]

In [103]:
# Check for duplicates
has_duplicates_result = has_duplicates(data)

In [104]:
# Print the result
print(f"List contains duplicates: {has_duplicates_result}")

List contains duplicates: True

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [105]:
def is_prime(num):
  """Checks if a number is prime (greater than 1 and only divisible by 1 and itself).

  Args:
    num: The number to check for primality.

  Returns:
    True if the number is prime, False otherwise.
"""
  if num <= 1:
    return False
  for i in range(2, int(num**0.5) + 1):
    if num % i == 0:
      return False
  return True

In [106]:
def find_primes(lower, upper):
  """Prints the prime numbers in a given range using a for loop.

  Args:
    lower: The lower bound of the range (inclusive).
    upper: The upper bound of the range (inclusive).
  """
  print(f"Prime numbers between {lower} and {upper} are:")
  for num in range(lower, upper + 1):
    if is_prime(num):
      print(num)

In [107]:
# Set the range of numbers
lower_limit = 2
upper_limit = 50

In [108]:
# Find and print prime numbers
find_primes(lower_limit, upper_limit)

Prime numbers between 2 and 50 are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [109]:
def count_vowels(text):
  """Counts the number of vowels in a string using a for loop.

  Args:
    text: The string to count vowels in.

  Returns:
    The number of vowels found in the string.
  """

  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in text:
    if char in vowels:
      vowel_count += 1
  return vowel_count

In [116]:
# Sample text
text = "Jazz, Music"

In [117]:
# Count the vowels
num_vowels = count_vowels(text)

In [118]:
# Print the result
print(f"Number of vowels in '{text}': {num_vowels}")

Number of vowels in 'Jazz, Music': 3

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [119]:
def find_max_in_2d_list(data):
  """Finds the maximum element in a 2D list using nested for loops.

  Args:
    data: A 2D list of elements.

  Returns:
    The maximum element found in the 2D list, or None if the list is empty.
  """

  # Initialize max_value to handle empty lists or lists with non-numeric elements
  max_value = None

  for row in data:
    for element in row:
      # Check if element is numeric (avoid non-numeric comparisons)
      if isinstance(element, (int, float)):
        if max_value is None or element > max_value:
          max_value = element

  return max_value

In [120]:
# Sample 2D list
data = [[10, 5, 18], [2, 7, 1], [15, 20, 9]]

In [121]:
# Find the maximum element
max_element = find_max_in_2d_list(data)

In [122]:
# Print the result (handle cases where no numeric max is found)
if max_element is not None:
  print(f"Maximum element in the 2D list: {max_element}")
else:
  print("The 2D list does not contain any numeric elements.")

Maximum element in the 2D list: 20

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [123]:
def remove_all(data, element):
  """Removes all occurrences of a specific element from a list using a for loop.

  Args:
    data: The list to modify (pass a copy to avoid unintended modification of the original list).
    element: The element to remove.

  Returns:
    A new list with all occurrences of the element removed.
  """

  # Create a new list to store the filtered elements (avoids modifying the original list)
  filtered_list = []

  for item in data:
    # Add the item to the new list if it's not the element to remove
    if item != element:
      filtered_list.append(item)

  return filtered_list

In [124]:
# Sample list and element to remove
data = [1, 2, 3, 2, 4, 5, 2]
element_to_remove = 2

In [125]:
# Remove all occurrences of the element
filtered_data = remove_all(data.copy(), element_to_remove)

In [126]:
# Print the original and filtered lists
print(f"Original list: {data}")
print(f"List after removing {element_to_remove}: {filtered_data}")

Original list: [1, 2, 3, 2, 4, 5, 2]
List after removing 2: [1, 3, 4, 5]

16. Develop a program that generates a multiplication table for numbers from 1 to using a nested `for` loop.

In [127]:
def multiplication_table(num):
  """Generates a multiplication table for a number using nested for loops.

  Args:
    num: The number for which to generate the multiplication table.
  """

  # Loop through numbers from 1 to num
  for i in range(1, num + 1):
    # Print the table header for the current number
    print(f"Multiplication table for {i}:")

    # Inner loop to multiply with numbers from 1 to num
    for j in range(1, num + 1):
      # Calculate the product and print it in a formatted way
      product = i * j
      print(f"{i} x {j} = {product}")

    # Print a separator line after each table
    print("-" * 15)

In [128]:
# Set the number for the multiplication table
number = 5

In [129]:
# Generate and print the multiplication table
multiplication_table(number)

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
---------------
Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
---------------
Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
---------------
Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
---------------
Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------------

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [130]:
def fahrenheit_to_celsius(fahrenheit_temps):
  """Converts a list of Fahrenheit temperatures to Celsius using a for loop.

  Args:
    fahrenheit_temps: A list of Fahrenheit temperatures.

  Returns:
    A new list containing the corresponding Celsius temperatures.
  """

  celsius_temps = []
  for fahrenheit in fahrenheit_temps:
    # Conversion formula: Celsius = (Fahrenheit - 32) * 5/9
    celsius = (fahrenheit - 32) * 5 / 9
    celsius_temps.append(celsius)
  return celsius_temps

In [131]:
# Sample Fahrenheit temperatures
fahrenheit_temps = [32, 50, 77, 100]

In [132]:
# Convert to Celsius
celsius_temps = fahrenheit_to_celsius(fahrenheit_temps)

In [133]:
# Print the results (Fahrenheit and Celsius temperatures)
print("Fahrenheit:", fahrenheit_temps)
print("Celsius:", celsius_temps)

Fahrenheit: [32, 50, 77, 100]
Celsius: [0.0, 10.0, 25.0, 37.77777777777778]

18. Create a program to print the common elements from two lists using a `for` loop.

In [134]:
def find_common_elements(list1, list2):
  """Prints the common elements between two lists using a for loop.

  Args:
    list1: The first list.
    list2: The second list.
  """
  common_elements = []
  for element in list1:
    if element in list2:
      # Add the common element to the list if found in list2
      common_elements.append(element)

  # Print the common elements (if any)
  if common_elements:
    print("Common elements:", common_elements)
  else:
    print("No common elements found between the lists.")

In [135]:
# Sample lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 7, 9, 11]

In [136]:
# Find and print common elements
find_common_elements(list1, list2)

Common elements: [3, 5]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the pattern.

In [137]:
def print_triangle_pattern(rows):
  """Prints a right-angled triangle pattern using '*' and a for loop.

  Args:
    rows: The number of rows for the triangle pattern.
  """
  for i in range(1, rows + 1):
    # Print '*' i times in each row (increasing number of stars)
    print("*" * i)

In [138]:
# Set the number of rows for the pattern
num_rows = 5

In [139]:
# Print the triangle pattern
print_triangle_pattern(num_rows)

*
**
***
****
*****

20. Write a program to find the greatest common divisor (GCD) of two numbers using a
`for` loop.

In [140]:
def gcd(a, b):
  """Calculates the greatest common divisor (GCD) of two numbers using a for loop.

  Args:
    a: The first number.
    b: The second number.

  Returns:
    The greatest common divisor of a and b.
  """

  # Handle cases where either number is 0
  if a == 0 or b == 0:
    return max(a, b)  # GCD of 0 and any number is the non-zero number

  # Efficiently find GCD using a for loop (Euclidean algorithm)
  while b != 0:
    old_b = b
    b = a % b  # Remainder of a divided by b becomes the new b
    a = old_b  # Previous b becomes the new a

  return a  # After the loop, a holds the GCD

In [141]:
# Example numbers
num1 = 18
num2 = 30

In [142]:
# Find the GCD
greatest_common_divisor = gcd(num1, num2)

In [143]:
# Print the result
print(f"GCD of {num1} and {num2} is: {greatest_common_divisor}")

GCD of 18 and 30 is: 6

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [144]:
# Loop through numbers from 1 to 10 (inclusive)
for num in range(1, 11):
  print(num)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [145]:
# Sample list of numbers
numbers = [1, 2, 3, 4, 5]

In [146]:
# Initialize a variable to store the sum
total_sum = 0

In [147]:
# Loop through each number in the list
for number in numbers:
  # Add the current number to the total sum
  total_sum += number

In [148]:
# Print the sum of all numbers
print("The sum of all numbers in the list is:", total_sum)

The sum of all numbers in the list is: 15

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [149]:
def print_reverse(text):
  """Prints the characters of a string in reverse order using a for loop.

  Args:
    text: The string to be reversed.
  """

  # Loop through characters in reverse order using range and len
  for i in range(len(text) - 1, -1, -1):
    print(text[i], end="")

In [150]:
# Example string
text = "Hello, world!"

In [151]:
# Print the characters in reverse order
print_reverse(text)

!dlrow ,olleH

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [152]:
def calculate_factorial(number):
  """Calculates the factorial of a non-negative integer using a for loop.

  Args:
    number: The non-negative integer for which to calculate the factorial.

  Returns:
    The factorial of the number, or None if the number is negative.
  """

  # Factorial is not defined for negative numbers
  if number < 0:
    return None

  # Initialize the factorial with 1 (base case)
  factorial = 1

  # Loop through numbers from 1 to the given number
  for i in range(1, number + 1):
    # Multiply the factorial by the current number
    factorial *= i

  return factorial

In [153]:
# Sample number
num = 5

In [154]:
# Calculate and print the factorial
factorial_result = calculate_factorial(num)

if factorial_result is not None:
  print(f"The factorial of {num} is: {factorial_result}")
else:
  print("Factorial is not defined for negative numbers.")

The factorial of 5 is: 120

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [155]:
def print_multiplication_table(number):
  """Prints the multiplication table of a given number using a for loop.

  Args:
    number: The number for which to print the multiplication table.
  """

  # Print the table header
  print(f"Multiplication table of {number}:")

  # Loop through numbers from 1 to 10 (inclusive)
  for i in range(1, 11):
    # Calculate the product and print it in a formatted way
    product = number * i
    print(f"{number} x {i} = {product}")

In [158]:
# Set the number for the multiplication table
num = 156

In [159]:
# Print the multiplication table
print_multiplication_table(num)

Multiplication table of 156:
156 x 1 = 156
156 x 2 = 312
156 x 3 = 468
156 x 4 = 624
156 x 5 = 780
156 x 6 = 936
156 x 7 = 1092
156 x 8 = 1248
156 x 9 = 1404
156 x 10 = 1560

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [160]:
def count_even_odd(numbers):
  """Counts the number of even and odd numbers in a list using a for loop.

  Args:
    numbers: The list of numbers to be analyzed.

  Returns:
    A tuple containing the count of even numbers and odd numbers.
  """

  even_count = 0
  odd_count = 0

  for number in numbers:
    if number % 2 == 0:
      even_count += 1
    else:
      odd_count += 1

  return even_count, odd_count

In [161]:
# Sample list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [162]:
# Count even and odd numbers
even_numbers, odd_numbers = count_even_odd(numbers)

In [163]:
# Print the results
print(f"Even numbers: {even_numbers}")
print(f"Odd numbers: {odd_numbers}")

Even numbers: 5
Odd numbers: 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [164]:
# Loop through numbers from 1 to 5 (inclusive)
for num in range(1, 6):
  # Calculate and print the square
  square = num * num
  print(f"The square of {num} is: {square}")

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25

8. Create a program to find the length of a string without using the `len()` function.

In [165]:
def string_length(text):
  """Calculates the length of a string without using the len() function.

  Args:
    text: The string for which to find the length.

  Returns:
    The length of the string.
  """

  count = 0
  for char in text:
    count += 1  # Increment counter for each character
  return count

In [166]:
# Sample string
text = "Hello, world!"

In [167]:
# Find and print the string length
string_len = string_length(text)
print(f"The length of the string '{text}' is: {string_len}")

The length of the string 'Hello, world!' is: 13

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [168]:
def calculate_average(numbers):
  """Calculates the average of a list of numbers using a for loop.

  Args:
    numbers: The list of numbers for which to find the average.

  Returns:
    The average of the numbers, or None if the list is empty.
  """

  # Check for empty list
  if not numbers:
    return None

  # Initialize total sum to 0
  total_sum = 0

  # Loop through numbers and accumulate sum
  for number in numbers:
    total_sum += number

  # Calculate average (avoid division by zero)
  average = total_sum / len(numbers) if len(numbers) > 0 else None

  return average

In [169]:
# Sample list of numbers
numbers = [2, 4, 6, 8, 10]

In [170]:
# Calculate and print the average
average_value = calculate_average(numbers)

if average_value is not None:
  print(f"The average of the list is: {average_value}")
else:
  print("The list is empty. Average cannot be calculated.")

The average of the list is: 6.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [182]:
def print_fibonacci(n):
  """Prints the first n Fibonacci numbers using a for loop.

  Args:
    n: The number of Fibonacci numbers to print.
  """

  # Handle invalid input (n must be non-negative)
  if n < 0:
    print("Invalid input: n must be non-negative.")
    return

  # Initialize the first two Fibonacci numbers
  a, b = 0, 1

  # Print the first two numbers (special cases)
  print(a)
  print(b)

  # Loop to generate and print the remaining Fibonacci numbers
  for i in range(2, n):
    c = a + b  # Calculate the next Fibonacci number
    print(c)
    a, b = b, c  # Update a and b for the next iteration

# Set the number of Fibonacci numbers to print
num_fibonacci = 10

# Print the Fibonacci sequence
print_fibonacci(num_fibonacci)

0
1
1
2
3
5
8
13
21
34